<!DOCTYPE html>
<html>
<head>
  <title>Ayumihamasaki4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<div class="header-logo"><%= link_to 'ayu', 'top' %></div>
	      <div class="header-list">
	        <ul>
	          <li><%= link_to 'poker face', 'pokerface' %></li>
	          <li><%= link_to 'vogue', 'vogue' %></li>
	          <li><%= link_to 'evolution', 'evolution' %></li>
	        </ul>
	    </div>
    </div>
    <%= image_tag '2001-evolution.jpg' %>
<%= yield %>

</body>
</html>
